<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jie.dian.wan.business.mapper.slave.UserSlaveMapper">
  <select id="getSlavedb" resultType="jie.dian.wan.business.model.user.User">
    select * from t_s_user limit 1
  </select>
  </mapper>