# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
classpath:logback-spring.xml
logs
.gitignore
/.gitignore
practice-api/src/main/resources/
practice-api/src/test/
practice-api/target/
practice-auth/src/test/
practice-auth/target/
practice-bom/src/test/
practice-bom/target/generated-sources/
practice-business/src/test/
practice-business/target/
practice-common/practice-common-bom/src/
practice-common/practice-common-core/src/main/resources/
practice-common/practice-common-core/src/test/
practice-common/practice-common-core/target/
practice-common/practice-common-data/src/main/java/jie/dian/wan/common/data/mybaitsplus/
practice-common/practice-common-data/src/main/resources/
practice-common/practice-common-data/src/test/
practice-common/practice-common-data/target/
practice-common/practice-common-multdatasource/src/main/resources/
practice-common/practice-common-multdatasource/src/test/
practice-common/practice-common-multdatasource/target/
practice-common/target/
practice-model/src/main/resources/
practice-model/src/test/
practice-model/target/
