# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
classpath:logback-spring.xml
logs
.gitignore
/.gitignore
practice-api/src/main/resources/
practice-api/src/test/
practice-api/target/
practice-auth/src/test/
practice-auth/target/
practice-business/src/test/
practice-business/target/
practice-common/practice-common-bom/src/
practice-common/practice-common-core/src/main/resources/
practice-common/practice-common-core/src/test/
practice-common/practice-common-core/target/
practice-common/practice-common-data/src/target
practice-common/practice-common-data/src/main/resources/
practice-common/practice-common-data/src/test/
practice-common/practice-common-data/target/
practice-common/practice-common-multdatasource/src/main/resources/
practice-common/practice-common-multdatasource/src/test/
practice-common/practice-common-multdatasource/target/
practice-common/target/
practice-model/src/main/resources/
practice-model/src/test/
practice-model/target/
doc/
practice-dubbo-consumer/src/test/
practice-dubbo-consumer/target/
practice-dubbo-service/src/main/resources/
practice-dubbo-service/src/test/
practice-dubbo-service/target/
sentinel-client/src/test/
sentinel-client/target/
sentinel-dashboard/target/classes/application.properties
sentinel-dashboard/target/classes/com/
sentinel-dashboard/target/classes/resources/.jshintrc
sentinel-dashboard/target/classes/resources/README.md
sentinel-dashboard/target/classes/resources/README_zh.md
sentinel-dashboard/target/classes/resources/app/
sentinel-dashboard/target/classes/resources/assets/
sentinel-dashboard/target/classes/resources/dist/
sentinel-dashboard/target/classes/resources/gulpfile.js
sentinel-dashboard/target/classes/resources/index.htm
sentinel-dashboard/target/classes/resources/index_dev.htm
sentinel-dashboard/target/classes/resources/lib/
sentinel-dashboard/target/classes/resources/license-stat.csv
sentinel-dashboard/target/classes/resources/package-lock.json
sentinel-dashboard/target/classes/resources/package.json
sentinel-dashboard/target/generated-sources/
sentinel-dashboard/target/generated-test-sources/
sentinel-dashboard/target/test-classes/
practice-bom/target/
practice-bom/target/*